

/* balu143 */	
@font-face{
	
	font-family:balu143;
	src:url("HVD_Peace.ttf");
}

/* rayudu */

@font-face{
	
	font-family:rayudu;
	src:url("Demo_ConeriaScript.ttf");
}	
/*  KiranIT  */	
@font-face{
		font-family:KiranIT;
		src:url("Art Brewery.ttf");
	
	}

/* Bhagya */	
@font-face{
	
	font-family:bhagya;
	src:url("ginga/Ginga.ttf");
}	
/* Ashwini */

@font-face{
		font-family:ashwini;
		src:url("youmurderer-bb/youmurdererbb_reg.ttf");
	}
/*yadaiah*/

@font-face{
		font-family:yadaiah;
		src:url("National Cartoon.ttf");
	}
@font-face{
		font-family:yadamma;
		src:url("FrakturShadowed.ttf");
	}
@font-face{
		font-family:muthyalu;
		src:url("xtrusion.ttf");
	}
@font-face{
		font-family:laxmamma;
		src:url("BoogieNightsShadowNF.ttf");
	}
@font-face{
		font-family:krishika;
		src:url("Bullpen3D.ttf");
	}
@font-face{
		font-family:login;
		src:url("Germania Shadow.ttf");
	}
@font-face{
		font-family:register;
		src:url("Stroke Dimension.ttf");
	}
	